header {
  position: relative;
}

.headerText {
  position: absolute;
  bottom: 10px;
  margin: 0 0 0 20%;
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-size: 3vw;
  font-weight: normal;
}

h1 {
  margin: 0px;
  margin-top: -10px;
}

.content {
  margin: 0 20%;
  line-height: 1.6;
}

h2, h3, p, li, .intro {
  font-family: 'Josefin Sans', sans-serif;
  color: #222; 
}

h2 {
  text-transform: uppercase;
  padding: 15px 0 0 0;
}

h3 {
  padding: 10px 0 0 0;
}

h4 {
  font-family: 'Merriweather', serif;
  padding: 0;
  margin: -20px 0 0 0;
  font-size: small;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  background: #383838;
  color: white;
  font-size: 45px;
  margin: 0 -5%;
  padding: 40px 35px;
  line-height: 1.5;
  vertical-align: middle;
  position: relative;
  
}

blockquote::before {
  content: "“";
  font-size: 3em;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: top;
  line-height: 1;
  padding: 0;
}


ul {
 list-style-type: square;
}

hr {
  border-top: 5px solid black;
  margin-left: -20px;
  margin-right: -20px;
}